@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/*Top Banner Section*/

h3{
    font-weight: 500;
    font-size: 30px;
    margin-top: 150px;
    margin-bottom: 5px;
}

#name{
    font-size: 45px;
    font-weight: bold;
    color: #ec4c7a;
    margin-top: 5px;
    position: relative;
    animation: mymove 5s infinite;
}

@keyframes mymove {
    from {left: 0px;}
    to {left: 150px;}
}

.top-banner p{
    color: #707070;
    margin-bottom: 50px;
}

.half-width{
    width: 40%;
    float: left;
}

.half-width img{
    width: 100%;
    margin-top: 10%;
}

.top-banner{
    height: 600px;
    padding-bottom: 150px;
}

.button-design{
    text-decoration: none;
    background: linear-gradient(45deg, #ec4f8f, #ec4c78);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 500;
}

.button-design:hover{
    background: #15DDD1;
}


.top-banner{
    background-image: url("images/header-bg.png");
    background-repeat: no-repeat;  
    background-size: cover;
}

#first-half{
    margin-left: 160px;
}

/*Biography Section*/

.mid-banner{
    background-image: url("images/biography-bg.png");
    background-repeat: no-repeat;  
    background-size: cover;
    height: 800px;
}

.mid-banner .half-width img{
    margin-left: 20%;
}

.mid-banner p{
    color: #707070;
    margin-bottom: 50px;
}

#bio-half{
    margin-left: 160px;
    margin-top: 50px;
}

/*Latest Work Section*/

.experience-area{
    background-image: url("images/latest-work-bg.png");
    padding-top: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

.experience-area h2{
    text-align: center;
    font-size: 30px;
    padding-bottom: 20px;
}

.work {
    display: flex;
  }
  
.work-div {
    flex: 33.33%;
    width: 100%;
    height: 80%;
    transition: transform .2s;
}

#work1{
    padding-left: 100px;
}

.work-div:hover{
    transform: scale(1.5); 
}

#work2{
    padding-left: 20px;
    padding-right: 20px;
}

#work3{
    padding-right: 100px;
}

/*Client Section*/

.client{
    background-image: url("images/footer-bg.png");
    background-size: cover;
    background-position: center;
    padding-top: 20px;
    background-repeat: no-repeat;
    height: 550px;
    text-align: center;
    margin-bottom: 0px;
}

.client-text{
    padding-bottom: 20px;
}

.client-text h2{
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 20px;
}

.client-text h4{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 0px;
}

.client-text h5{
    font-size: 10px;
    color: grey
    font-weight: 300;
}

.client-text p{
    text-align: center;
    color: #707070;
    margin-top: 0px;
}

.client-quote{
    background: linear-gradient(45deg, #ec4f8f, #ec4c78);
    color: white;
    display: inline-block;
    padding: 20px 140px 25px 140px;
    border-radius: 10px;
    margin-bottom: 0;
}

.client-quote:hover{
    animation: shake 0.5s;
    animation-iteration-count: infinite;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

.client-quote p{
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: 300;
}

.client-quote h4{
    font-size: 20px;
    font-weight: 500;
    margin-top: 0px;
}

footer{
    margin-top: 0px;
}

footer p{
    padding-bottom: 30px;
    text-align: center;
    color: #707070;
}

#say{
    color: #333333;
}

@media only screen and (max-width: 700px) {
    h3{
        font-size: 15px;
        margin-top: 50px;
    }
    #name{
        font-size: 25px;
        animation: mymove 3s infinite;
    }
    
    @keyframes mymove {
        from {left: 0px;}
        to {left: 20px;}
    }
    .top-banner p{
        margin-bottom: 20px;
        font-size: 10px;
    }
    
    .half-width{
        width: 40%;
    }
    
    .half-width img{
        width: 100%;
    }
    
    .top-banner{
        height: 300px;
        padding-bottom: 50px;
    }
    
    .button-design{
        padding: 5px 10px;
        border-radius: 3px;
        font-size: 10px;
    }

    #first-half{
        margin-left: 50px;
    }

    /*Biography Section*/

    .mid-banner{
        height: 350px;
    }

    .mid-banner p{
        margin-bottom: 10px;
        font-size: 10px;
    }

    #bio-half{
        margin-left: 80px;
    }

    #bio-half h3{
        margin-top: 10px;
        font-size: 20px;
    }

    /*Latest Work Section*/
    .experience-area{
        padding-top: 20px;
        height: 250px;
    }

    .experience-area h2{
        font-size: 20px;
    }

    #work1{
        padding-left: 30px;
    }

    #work2{
        padding-left: 10px;
        padding-right: 10px;
    }

    #work3{
        padding-right: 30px;
    }

    /*Client Section*/

    .client{
        padding-bottom: 10px;
        height: 250px;
        text-align: center;
    }

    .client-text{
        padding-bottom: 10px;
    }

    .client-text h2{
        font-size: 20px;
        padding-bottom: 10px;
    }

    .client-text h4{
        font-size: 15px;
        font-weight: 400;
    }

    .client-quote{
        padding: 10px 100px 10px 100px;
        border-radius: 5px;
    }

    .client-quote p{
        margin-bottom: 5px;
        font-size: 10px;
    }

    .client-quote h4{
        font-size: 15px;
        font-weight: 400;
    }

    footer{
        padding-top: 100px;
    }

    footer p{
        font-size: 10px;
    }
}